@media (min-width: 840px) {
    .nava{
        background-image: url(./clipboard-landing-page-master/images/bg-header-desktop.png);
        .buttons{
            flex-direction: row;
        }
    }
    .hero{
        flex-direction: row;
    }
    .civic{
        flex-direction: row;
    }
    .partner-image{
        flex-direction: row;
    }
    .second-buttons{
        flex-direction: row;
    }
    .footer-content{
        justify-content: space-between;
        flex-direction: row;
    }
    .footer-links{
        flex-direction: row;
    }
    .second-link{
        flex-direction: column;
    }
}